<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог товаров</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <h1 class="text-center my-4">Каталог Li-Ning</h1>

    <div class="row">
        <div class="col-md-3">
            <h2>Фильтр по категориям</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="/" class="text-decoration-none">Все</a></li>
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="?category={{ category.id }}" class="text-decoration-none">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="col-md-9">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.price }} сом</p>
                                <a href="/product/{{ product.id }}/" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>